Repository catarinaludmilanf/Prova02, pull requests merged in 2025-06, with the labels that each got.

#1 Nova funcionalidade login
  Cenarios/cenario1/login.html
  Cenarios/cenario1/styleLogin.css
Labels: enhancement

#2 Autenticação de login
  Cenarios/cenario2/apiLogin.js
Labels: enhancement

#3 Release V1.0 em produção
  Cenarios/cenario2/apiLogin.js
  Cenarios/cenario2/login.html
  Cenarios/cenario2/styleLogin.css
Labels: v1.0-cenario2

#4 Hotfix v.1.0.1
  Cenarios/cenario2/apiLogin.js
Labels: v1.0.1-cenario 2
